@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text|Space+Mono');

@import url('palette.css');

html, body{
  height: 100vh;
  background: #CFD8DC;
  color: #212121;
  font-family: 'Space Mono', monospace;

}

h1, h2 {
  font-family: 'Libre Barcode 128 Text', cursive;
  font-weight: lighter;
}
h1{
    font-size: 72px;
}
h2{
    font-size: 64px;
}

p{
    font-size: 18px;
}


.main{
    max-width: 680px;
    margin: 0 auto;
}

.foo{
  border-left: 10px solid #cf0000;
}

.shifu{
  border-left: 10px solid blue;
}

.master-foo{
  border-left: 10px solid green;
}

.scroll{
  border-left: 10px solid #212121;
}

code{
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  box-shadow: 3px 3px #999
}

pre{
  font-size: 16px;
  margin-bottom: 8%;
}

blockquote {
  margin:  0;
  padding: 0.5em 10px;
  font-weight: bold;

  color: #757575;
  background: #FFFFFF;

  /*quotes: "\201C""\201D";*/
  box-shadow: 3px 3px #999;
}

/*blockquote:before {*/
  /*color:  #ccc;*/
  /*content: open-quote;*/
  /*font-size: 4em;*/
  /*line-height: 0.1em;*/
  /*margin-right: 0.25em;*/
  /*vertical-align: -0.4em;*/
/*}*/

.muted {
  color: #03A9F4
}

.dark-primary-color    { background: #455A64; }
.default-primary-color { background: #607D8B; }
.light-primary-color   { background: #CFD8DC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #448AFF; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

.card{
    z-index: 0;
    background: #96B4C3;
    padding: 1px 40px;
    margin: 58px 0;
    box-shadow: 3px 3px #999;
}

.card h2 {
  color: #0097A7;
  background: #082C3C;
  margin-left:  -40px;
  margin-right:  -40px;
  padding: 48px;
  opacity: 0.8;
}

.card:first-of-type p {
    padding-bottom: 40px;
}

nav {
    background: #4A6F7F;
	margin: 0 auto;
    padding: 20px;
	line-height: 32px;
    box-shadow: 3px 3px #999;
}


nav ul {
	padding: 0;
    margin: 0;
	list-style: none;
    position: relative;
}

nav ul li {
    display:inline-block;
    overflow: hidden;
}


nav a button{
    padding: 0 20px;
    background: #03A9F4;
	line-height: 60px;
    color: #EFEFEF;
	font-size:20px;
    border: none;
    border-radius: 3%;
    opacity: 0.8;
}

nav a button:hover {
    opacity: 1.0;
}

nav a {
	text-decoration:none;
}


